# Виртуальная среда
venv/
.venv/

# Файлы базы данных
*.sqlite3
*.db

# Миграции, если хочешь их не отслеживать (по желанию)
**/migrations/*.py
!**/migrations/__init__.py

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Настройки окружения
.env
.env.*

# Логи
*.log

# Конфиги IDE
.idea/
.vscode/

# Системные файлы
.DS_Store
Thumbs.db
